body{ background-image: url(https://images.alphacoders.com/101/thumb-350-1017007.jpg);

}

.container{ background-color: white; width: 500px; height: 720px; position: relative; left: 550px; top: 10px;
}

h1{ background-color: white;}

h1 img { width: 50px; height: 50px; position: relative; top: 20px}
h2 img {width: 50px; position: relative; left: 450px; bottom: 47px; }

.photo img{ width: 400px; height: 300px; position: relative; left: 50px; bottom: 25px;}

.like img{ width: 40px; height: 40px; position: relative; left: 30px; top: -30px;}

.messenger img {width: 40px; height: 40px; position: relative; top: -100px; left: 90px;}

.share img{ width: 50px; height: 40px;  position: relative; top: -165px; left: 140px;}

.tag img {width: 50px; height: 50px;  position: relative; top: -240px; left: 420px;}

.likeds p{font-size: small; position: relative; bottom: 600;}
